/* Apartado con el Header*/
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/*Parte principal*/


main {
    position: fixed;
    position: relative;
    display: inline-block;
    background-color: rgb(158, 81, 81);
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;

}

#boxList {
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
}

.boxArticle {
    background-color: rgb(218, 231, 231);
    width: 20vw;
    min-width: 100px;
    height: 25vh;
    border: 1px solid black;
    perspective: 1000px;
    margin: 10px;
}

.boxCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.boxArticle:hover .boxCard {
  transform: rotateY(180deg);
  background-color: brown;
}

.boxFront, .boxBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.boxFront {
background-color: rgb(0, 188, 230);
color: black;
}
.boxFront img{
    margin: 2px;
    width: 50%;
    height: auto;
}

.boxBack {
    background-color: rgb(0, 188, 230);
    color: white; 
    transform: rotateY(180deg);
}


/*
.boxImage {
    left: 2vh;
    border: 5px solid black
}

.boxImage img {
    width: 12vh;
    height: auto;
}

.shoppingCar {
    width: 5vw;
    height: 3vh;
}
.shoppingCar img {
    width: 100%;
}
.buyButton {
    width: 20vw;
    height: 3vh;
}